@font-face {
  font-family: "Revalia-Regular-a";
  src: url(../font/Revalia-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Roboto-Regular-a";
  src: url(../font/Roboto-Regular.ttf);
  font-weight: 400;
}

body {
  color: #000;
  font-family: "Roboto-Regular-a";
  overflow-x: hidden;
}

:root {
  --color-main: #34547A;
  --color-gray: #C4C4C4;
  --color-text-main: #727272;
  --color-text: #FFF;
  --color-bgc: #EEEFF1;

  --index: calc(1vw + 1vh);
  --content-contaier: 57.8vw;
  --font-width-small: .83vw;
  --font-width-title: 1.66vw;
  --font-width-average: 1.09vw;
  --trans-time: .5s;
}


/* Мульти-блоки */
.main-container {
  margin-inline: auto;
  max-width: var(--content-contaier);
}

.text-style-main {
  font-weight: 400;
  line-height: 164.063%;
  font-size: var(--font-width-small);
  font-style: normal;
  color: var(--color-text-main);
}

.title-style-main {
  font-size: 1.66vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main-btn {
  padding: 1.30vw 0;
  min-width: 11.7vw;
  background-color: var(--color-main);
  text-align: center;
  text-transform: uppercase;
  color: var(--color-text);
  transition: var(--trans-time) ease-in-out;
}

.main-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 1.04vw var(--color-main);
}


/* Шапка */
.header {
  padding-top: 2.70vw;
  padding-bottom: 7.60vw;
  background-color: var(--color-bgc);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20.8vw;
}

.header__logo {
  font-weight: 400;
  font-size: 2.5vw;
  font-family: "Revalia-Regular-a";
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  color: var(--color-main);
}

.header__nav-list {
  display: flex;
  gap: 2.18vw;
  letter-spacing: .1vw;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.header__list-item:first-child {
  color: var(--color-main);
  font-weight: 600;
}

.header__list-link {
  color: inherit;
  transition: var(--trans-time) ease-in-out;
}

.header__list-link:hover {
  text-shadow: 0 0 .26vw var(--color-main);
}

.header__content {
  margin-top: 6.77vw;
  display: flex;
  align-items: center;
  gap: 7.44vw;
}

.header__img {
  min-width: 22.6vw;
  padding-left: 4.16vw;
}

.header__container-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.08vw;

}

.header__title {
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 600;
  line-height: 164.063%;
  /* 78.75px */
}

.header__p {
  min-width: 28.1vw;
}


/* Обо мне */
.about {
  padding: 5.72vw 0 4.94vw;
  text-align: center;
}

.about__wrapper {
  margin-inline: auto;
  max-width: 28.12vw;
}

.about__title {
  margin-bottom: 2.08vw;
}


/* Мои проекты */
.projects {
  padding: 5.20vw 0;
  background-color: var(--color-main);
}

.projects__container {
  display: flex;
  gap: 2.5vw;
}

.projects__card {
  display: flex;
  gap: 1.04vw;
}

.projects__icon {
  min-width: 2.60vw;
  aspect-ratio: 1;
}

.projects__title {
  color: var(--color-text);
  font-size: var(--font-width-average);
}

.projects__text {
  color: var(--color-text);
}


/* Навыки атвора */
.skills {
  padding: 5.20vw 0;
}

.skills__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__progress {
  text-align: start;
}

.skills__title {
  margin-bottom: 2.60vw;
}

.skills__liner-box:not(:last-child) {
  margin-bottom: 1.56vw;
}

.skills__text {
  margin-bottom: 1.04vw;
}

.skills__liner {
  min-width: 23.1vw;
  background-color: var(--color-gray);
}

.skills__liner-inner {
  max-width: 18.2vw;
  min-height: .20vw;
  background-color: var(--color-main);
}

.skills__img {
  min-width: 28.9vw;
  min-height: 23.4vw;
  background: url(../img/skills-img.jpg)no-repeat center/cover;
}


/* Презентация */
.video-presentation {
  padding: 5.20vw 0 6.7vw;
  background-color: var(--color-bgc);
}

.video-presentation__container {
  text-align: center;
}

.video-presentation__title {
  margin-bottom: 2.34vw;
}

.video-presentation__text {
  margin-inline: auto;
  margin-bottom: 2.34vw;
  max-width: 28.1vw;
}

.video-presentation__wrapper-img {
  position: relative;
  min-height: 31.2vw;
  background: url(../img/pre-img.png)no-repeat center/cover;
}

.video-presentation__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 5.20vw;
}


/* Портфолио */

.portfolio__container-1, .portfolio__container-2 {
  display: flex;
}

.portfolio__card {
  position: relative;
  min-width: 25vw;
  aspect-ratio: 1;
}

.portfolio__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-color: #34547A;
  opacity: 0;
  transition: var(--trans-time);
}

.portfolio__icon {
  max-width: 5.20vw;
}

.portfolio__icon-wrapper:hover {
  opacity: .8;
}

.portfolio_card_bgc-1:nth-child(odd) {
  background: url(../img/portfolio-bgc-1.png)no-repeat center/cover;
}

.portfolio_card_bgc-1:nth-child(even) {
  background: url(../img/portfolio-bgc-2.png)no-repeat center/cover;
}

.portfolio_card_bgc-2:nth-child(odd) {
  background: url(../img/portfolio-bgc-2.png)no-repeat center/cover;
}

.portfolio_card_bgc-2:nth-child(even) {
  background: url(../img/portfolio-bgc-1.png)no-repeat center/cover;
}


/* Контейнер с логотипами */
.logo-box {
  padding: 3.75vw 0 5.20vw;
}

.logo-box__container {
  display: flex;
  gap: 1.56vw;
}

.logo-box__item {
  min-width: 13.2vw;
  min-height: 6.25vw;
  background: url(../img/logo-micro.png)no-repeat center/cover;
}


/* Заказ сайта */
.request {
  padding: 5.20vw 0 5.20vw;
  background-color: var(--color-bgc);
}

.request__container {
  margin-inline: auto;
  max-width: 28.1vw;
  text-align: center;
}

.request__title {
  margin-bottom: 2.08vw;
}

.request__text {
  margin-bottom: 2.60vw;
}

.request__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.04vw 1.56vw;
}

.request__label_hidden {
  display: none;
}

.request__input {
  padding: 1.04vw;
  min-width: 13.28vw;
  min-height: 2.60vw;
  background-color: var(--color-text);
}

.request__message {
  padding: 1.04vw;
  margin-bottom: 1.30vw;
  grid-column-end: span 2;
  min-width: 28.1vw;
  min-height: 9.11vw;
  resize: none;
  outline: none;
  background-color: var(--color-text);
}

.request__btn {
  grid-column-end: span 2;
  justify-self: center;
}

::placeholder {
  font-size: .72vw;
}